body {
    margin: 0;
    padding: 0;
    background-color: #1e232d; /* Fundo cinza escuro */
}

.container {
    max-width: 1000px; /* Largura máxima da caixa */
    width: 90%; /* Largura da caixa como porcentagem da largura do viewport */
    margin: 50px auto; /* Margens automáticas para centralizar */
}

.menu {
    position: fixed;
    top: 0;
    left: 50px; /* Margem da esquerda para alinhar com a caixa */
    right: 50px; /* Margem da direita para alinhar com a caixa */
    height: 50px;
    background-color: #0b1114; /* Cor do menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu button {
    width: calc((100% - 50px) / 8 - 5px); /* Calcula a largura dos botões, descontando as margens e espaços entre eles */
    margin: 5px; /* Adiciona margem de 5px em todos os lados para espaçamento */
    height: 40px; /* Ajusta a altura dos botões numerados */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
}

.menu button:hover {
    background-color: #888; /* Cor dos botões ao passar o mouse */
}

.line {
    height: 50px; /* Altura da linha */
    background-color: #1e232d; /* Cor da linha */
}

.box {
    display: flex;
    justify-content: space-between;
}

.wide-button {
    width: 200px; /* Largura dos botões */
    height: 150px; /* Altura dos botões */
    background-color: #666; /* Cor dos botões */
    color: #fff; /* Cor do texto dos botões */
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0; /* Remover o preenchimento interno para ajustar a altura do texto */
    position: relative;
}

.wide-button {
    width: 200px; /* Largura dos botões */
    height: 150px; /* Altura dos botões */
    background-color: #666; /* Cor dos botões */
    color: #fff; /* Cor do texto dos botões */
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0; /* Remover o preenchimento interno para ajustar a altura do texto */
    position: relative;
    background-size: cover;
    background-position: center top; /* Posiciona a imagem no centro superior */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do botão */
}

.wide-button span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px; /* Adiciona um pequeno preenchimento inferior ao texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor leitura do texto */
}

.wide-button:hover {
    background-color: #888; /* Cor dos botões ao passar o mouse */
}
